body {
	overflow-x: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	-webkit-tap-highlight-color: transparent;
	font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	-webkit-overflow-scrolling: touch;
}

.mt1 {
	margin-top: 1rem;
}
.bt-cell {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.bt-content {
	padding: 1rem 1rem;
	position: relative;
	background:#fff;
}

.bt-cell__bd {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.bt-cell__bd .weui-input {
	width: 100%;
	height: 2.2rem;
	line-height: 2.2rem;
	font-size:13px;
}

.bt-cell__hd {
	padding-right: 1rem;
}

.bt-cell__hd i {
	font-size: 1.2rem;
}
@media (max-height: 420px) {
	.weui-footer {
		position: relative;
		margin-top: 1rem;
	}
}

.weui-label {
	width: 4.5rem;
	color: #666666;
}